:root {
    --main-brown: #664645;
    --main-brown-darker: #553a39;
    --main-orange: #F19114;
    --main-orange-secondary: #f1b96f;
    --main-orange-darker: #c07513;
    --white-grey: #E5E5E5;
    --white-opac: rgb(255, 255, 255, 0.5);
}